.NavBarContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    height: auto;
    background-color: #CC84BF;
    padding: 10px;
    font-size: 23px;
    border: 1px solid gray;
    border-radius: 3px;
}

.LogoTrendy {
    height: 60px;
    margin: 20px;
}

.LinksContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 5px; 
}

.LinksNavBar {
    margin: 10px 0; 
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.LinksNavBar.active {
    /* color: rgb(80, 78, 78); */
    background-color: #d5c2d29a;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
}

.CartWidgetContainer {
    margin-top: 45px;
    align-self: flex-end; 
}

@media (min-width: 1200px) {
    .NavBarContainer {
        flex-direction: row;
        align-items: center; 
        height: 60px; 
    }

    .LinksNavBar:first-child {
        margin-left: 260px;
    }

    .LinksNavBar[href="/haztemayorista"] {
        white-space: nowrap;
    }

    .LinksContainer {
        flex-direction: row; 
        align-items: center; 
        margin-top: 0;
    }

    .LinksNavBar {
        margin: 0 10px; 
    }

    .CartWidgetContainer {
        margin-top: 20px;
        align-self: flex-end; 
    }
}
